/* * {
    box-sizing: border-box;
} */

html {
    color: var(--clr1);
    line-height: 1.71;
    font-family: play, serif;
}

body {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 0.875rem;
    background-color: var(--clr5);
}

img {
    width: 100%;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    cursor: pointer;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--clr9);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--clr7);
    border-radius: 1rem;
}

::-webkit-scrollbar {
    background: var(--clr7);
}

.small-btn {
    width: 3.7rem;
    height: 3.35rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}