* {
    box-sizing: border-box;
}

html {
    color: var(--clr1);
    line-height: 1.71;
    font-family: play, serif;
}

body {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 0.875rem;
    background-color: var(--clr5);
}

img {
    width: 100%;
}

button {
    background-color: transparent;
}