@media (max-width: 1190px) {
    .gallery-images {
        flex-basis: 20%;
    }
}

@media (max-width: 1030px) {
    .gallery-images {
        flex-basis: 25%;
    }
    section.meme-gallery {
        justify-content: center;
    }
    canvas {
        width: 500px;
        height: 500px;
    }
    .meme-editor {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .gallery-images {
        flex-basis: 40%;
    }
    .meme-editor {
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .gallery-images {
        flex-basis: 51%;
    }
}