.gallery-images {
    padding: 0;
    border: 1px;
    margin: 0.7rem;
    /* flex-grow: 1; */
    flex-basis: 16%;
    border-radius: 3rem;
}

.meme-gallery {
    flex-wrap: wrap;
}

.gallery-images img {
    border-radius: 2rem;
}

.search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.btn-flexible {
    width: 6rem;
    height: 2rem;
    background-color: var(--clr7);
    border: var(--clr8), 1px, solid;
    border-radius: 20rem;
    color: var(--clr1);
    font-weight: bold;
}

.meme-type {
    background-color: var(--clr9);
    border-radius: 20rem;
    padding-inline-start: 1rem;
    color: var(--clr10)
}

.meme-type::placeholder {
    color: var(--clr10);
}

.keywords-counter {
    display: flex;
    background-color: coral;
    width: 30rem;
    justify-content: space-evenly;
    border-radius: 1rem;
    height: 2.1rem;
}